body{
    margin:0;
    font-family: "Segoe UI", Tahoma, sans-serif;
    background:#f4f6fb;
}

/* Layout  */

.main-wrapper{
    display:flex;
    height:calc(100vh - 80px);
}

/* Titre */

.top-title{
    position:fixed;
    top:10px;
    left:20px;
    font-size:30px;
    font-weight:700;
    color:#1f2937;
    z-index:999;
}

/* Sidebar */
.sidebar {
    position: fixed;
    left: 0;
    top: 80px;
    height: calc(100vh - 70px);
    width: 250px;

    display: flex;
    flex-direction: column;

    background: linear-gradient(180deg, #c4f6ff, #a4d0ff);
    
}

/* TOP */
.sidebar-top {
    padding: 10px;
    flex-shrink: 0;
}

.sidebar nav {
    margin-bottom: 15px;
}

/* Historique */
.sidebar h5 {
    color: black;
    font-weight: 600;
    padding: 5px;
}

/* Scroll */
.chat-scroll {
    flex: 1;
    overflow-y: auto;
    padding: 5px;
}

/* Liste */
.chat-history {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* Items */
.chat-history li {
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    color: black;
}

/* Scroll style*/
.chat-scroll::-webkit-scrollbar {
    width: 6px;
}

.chat-scroll::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

/* Hover */
.chat-history li:hover {
    background: rgba(255, 255, 255, 0.449);
    transform: translateX(4px);
}

/* Chat active */
.chat-history li.active {
    background: white;
    color: #1e3a8a;
    font-weight: 600;
    padding-left: 15px;
}

/* Button (new chat) */
.sidebar-bottom {
    padding: 10px;
    margin-bottom: 15px;
}

/* Nouveau chat */
.new-chat {
    text-decoration: none;
    display: block;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    background: #2563eb;
    color: white;
    font-weight: 500;
    transition: .2s;
}

.new-chat:hover {
    background: #1d4ed8;
}
/* Chat */

.chat-section{
    flex:1;
    display:flex;
    justify-content:center;
    align-items:center;
    padding:20px;
    margin-left: 250px;
    margin-top: 70px;
}

/* Chat box */

.chat-box{
    width:60%;
    max-width:750px;
}

/* Card*/

.card{
    border-radius:12px;
    border:1px solid #e5e7eb;
}

/* Messages */

.messages{
    max-height:350px;
    overflow-y:auto;
    margin-bottom:15px;
    padding:10px;
}

/* Input */

.input-group input{
    height:45px;
}

/* User */

.user-avatar{
    width:35px;
    height:35px;
    border-radius:50%;
    background:rgb(61, 197, 243);
    color:white;
    display:flex;
    align-items:center;
    justify-content:center;
    font-weight:bold;
    margin-right:8px;
}

/* Switcher */

.theme-switcher{
    position:fixed;
    bottom:20px;
    right:20px;
    z-index:1000;
}

/* Scroll */

.messages::-webkit-scrollbar{
    width:6px;
}

.messages::-webkit-scrollbar-thumb{
    background:#cbd5e1;
    border-radius:6px;
}